
body{
    background: linear-gradient(
        to bottom,
        #021C2F 0%,
        #05253A 50%,
        #062B40 100%
    );
    min-height:100vh;
}

.layout{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5rem;
    align-items: start;
    padding: 5rem;
}

.left-column{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.sidebar{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    flex: 1;
    width: 40rem;
    height: 7.5rem;
    background: #0A2E40;
    padding: 1.5rem;
    color: #AEEBFF;

    box-shadow: 
        0 0 10px rgba(51, 212, 255, 0.4),
        inset 0 0 10px rgba(51, 212, 255, 0.2);

    animation: glow 1s infinite alternate;
    display: flex;
    gap: 1rem;
}

.sidebar::before{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background:
        linear-gradient(#33D4FF, #33D4FF) top left,
        linear-gradient(#33D4FF, #33D4FF) top left,
        linear-gradient(#33D4FF, #33D4FF) top right,
        linear-gradient(#33D4FF, #33D4FF) top right,
        linear-gradient(#33D4FF, #33D4FF) bottom left,
        linear-gradient(#33D4FF, #33D4FF) bottom left,
        linear-gradient(#33D4FF, #33D4FF) bottom right,
        linear-gradient(#33D4FF, #33D4FF) bottom right;

    background-size:
        40px 3px, 3px 40px,
        40px 3px, 3px 40px,
        40px 3px, 3px 40px,
        40px 3px, 3px 40px;

    background-repeat: no-repeat;
}


@keyframes glow{
    from{
        background: #0A2E40;
        box-shadow: inset 0 0 10px rgba(51, 212, 255, 0.2);
    }
    to{
        background: #1c455a;
        box-shadow: inset 0 0 5px rgba(51, 212, 255, 0.2);
    }
}

.images{
    height: 5rem;
    border-radius: 50%;
}

.info{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.stat-bar-bg{
    width: 25rem; 
    border: 0.15rem solid #33D4FF;
}

.stat-bar-fill{
    padding: 0.2rem;
    background-color: #33D4FF;
    color: #021C2F;
    max-width: 15rem;
}


.Avatar-list{
    margin-left: 0px;
    width: 40rem;
    height: auto;
    background-color: #33D4FF;

    padding: 1rem 0px ;

    clip-path: polygon(
        0% 5%,
        5% 0%,
        95% 0%,
        100% 5%,
        100% 95%,
        95% 100%,
        5% 100%,
        0% 95%
    );
}

.cover{
    background-color: #021C2F;
    padding: 1rem 0px ;
    clip-path: polygon(
        0% 5%,
        5% 0%,
        95% 0%,
        100% 5%,
        100% 95%,
        95% 100%,
        5% 100%,
        0% 95%
    );
}

.Hall{
    background-color: #0A2E40;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #33D4FF;
    gap: 1rem;
    padding: 2rem;
    clip-path: polygon(
        0% 5%,
        5% 0%,
        95% 0%,
        100% 5%,
        100% 95%,
        95% 100%,
        5% 100%,
        0% 95%
    );
}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.cards{
    background-color: #1c455a;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cards:hover{
    transform: scale(1.1);
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0A2E40;
    animation: glow 1s infinite alternate;
    padding: 1.5rem;
    width: 30rem;
    margin-top: 2rem;
}

.circles{
    height: 12.5rem;
    border-radius: 50%;
    animation: rotate 8s linear infinite;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.bar{
    height: 3rem;
    border: 0.5rem solid #33D4FF;
    background-color: #0A2E40;
    padding: 0.5rem;
    width: 40rem;
}
.fill{
    background-color: #AEEBFF;
    height: 100%;
    animation: searching 8s linear infinite;
}

@keyframes searching {
    from{
        width: 10%;
    }
    to{
        width: 80%;
    }
}
